body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.main-container {
    display: flex;
}
.left-container {
    display:inline-block;
    width: 40%;
}
.right-container {
    display: inline-block;
    width: 60%;
}