@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Unbounded:wght@200..900&display=swap');
:root {
  --font-family: "Roboto Mono", sans-serif;
  --second-family: "Unbounded", sans-serif;
  --green:#a8f860;
  --purple:#350b36;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  width: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}

/* headings */
h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  padding-bottom: 26px;
}
.about-h2, .contact-h2 {
  padding-bottom: 0;
}
h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
}
p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

/* container */
.container {
  width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

/* header */
.nav-item {
  display: inline;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}
header {
  height: 65px;
  background: var(--green);
  padding-top: 34px;
}
nav ul a {
  color: black;
}
nav ul a:hover {
  color: white;
}
nav ul a:active {
  color: red;
}
/* about */
.about-container {
  display: flex;
  justify-content: space-between;
  height: 371px;
}
.about-description {
  width: 417px;
  margin: 15px 0 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-name {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  margin: 0;
  padding: 0;
}
.about-h1-box {
  background-color: #a8f860;
  height: 40px;
  display: flex;
  align-items: center;
}
.about-h1 {
  margin: 0;
}
.about-p {
  margin: 0;
  text-align: justify;
}
.profile-photo {
  width: 289px;
  height: 320px;
  margin-top: 25px;
}

/* contact */
.contact {
  background-color: #350b36;
}
.contact-h2 {
  color: white;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.contact-list {
  list-style-type: none;
  width: 581px;
  display: flex;
  justify-content: space-between;
}
.contact-item {
  color: white;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
}
.contact-list li {
  display: flex;
  align-items: center;
}
.contact-list a {
  color: white;
  display: flex;
  align-items: center;
}
svg {
  margin: 0 6px 0 0;
}
.contact-item a:hover {
  color: var(--green);
}
.contact-item a:hover svg path {
  fill: var(--green);
}
.contact-item a:active {
  color: red;
}
.contact-item a:active svg path {
  fill: red;
}

/* main container */
.main-container {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-left {
  width: 417px;
}
.main-right {
  width: 289px;
}

/* education */
.education {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}
.education-h2 {
  width: 100%;
}
.education-info {
  width: 80px;
}
.education-courses {
  width: 284px;
}

/* projects */
